<div class="p-4">
  <h1>New task</h1>

  <%= form_for(@task) do |t| %>
    <div class="form-group">
      <%= t.label :title %>
      <%= t.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= t.label :details %>
      <%= t.text_field :details, class: 'form-control' %>
    </div>

    <%= t.submit class: 'btn btn-primary' %>
  <% end %>
</div>

<p class="p-4 border-top"><%= link_to "Back to list", tasks_path %></p>
