<h1><%= @task.title %></h1>
<%= link_to "Edit this task", edit_task_path %>
<p><%= @task.details %></p>
<p><% if @task.completed %>
  <%= check_box_tag 'done', value = @task.completed, @task.completed %> This task is completed.
<% else %>
  <%= check_box_tag 'done', value = @task.completed, @task.completed %> This task is not completed.
<% end %></p>
<%= link_to "Back to list", tasks_path %>
